.features-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-box {
    width: 30%;
    text-align: center;
    margin: 1em;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    padding: 1em;
    transition: all 0.2s ease-in-out;
}

.feature-box img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 1em;
}

.feature-box h3 {
    margin-top: 0;
}

.feature-link {
    display: block;
    text-align: center;
    margin-top: 1em;
    font-size: 1.2em;
    text-decoration: none;
    color: #006aff;
    transition: all 0.2s ease-in-out;
}

.feature-box:hover {
    transform: scale(1.05);
}

.feature-link:hover {
    color: #ff0000;
}