nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-container {
    display: flex;
    align-items: center;
}

.brand-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.nav-logo {
    margin-left: 20px;
}

.nav-logo img {
    width: 50px;
    height: 50px;
}