* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#navbar {
    background-color: #8B4513;
    /* brown color */
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#brand {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    display: flex;
}

li {
    list-style: none;
    margin-right: 20px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s ease;
}

a:hover {
    color: #ccc;
}


#login-btn {
    background-color: #5cb85c;
    /* green color */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-left: 20px;
}

#signup-btn {
    background-color: #337ab7;
    /* blue color */
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}