body{
   background-color:;
}
#title{
   background-color:#A75D5D;
}
.container-fluid{
   padding:3% 10%; 
}
.title-image{
   width: 70%;
}
.navbar-brand{
    font-family:"Ubuntu";
    font-size: 40%;
    font-weight: bold;
   ;
    }
    .navbar{
       padding:0 0 4.5rem;
       
    }
    .nav-item{
       padding:0 18px;
       color: black;
    }
    .nav-link{
       font-size: 1.2rem;
       font-weight: "Montserrat-light";
    }
   
    /*Download Button*/
   .D-button{
       margin:5% 3% 5% 0;
   }
   
   
   .row{
      padding-top: 5%;
   }
   h1{
      font-style:"Ubuntu";
   }
    