@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');

*{
  margin:0px;
  padding:0px; 
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   text-align: center;
  
   line-height: 1.5;
   letter-spacing: 1px;
}
.wrapper{
    min-height: 50vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url('../AboutUs_ContactPage/Notebg.jpg');
   background-position: center;
   background-repeat:no-repeat;
   background-size: cover;

}
h1{
    color: antiquewhite;
    font-size: 50px;
    font-weight: 800;
}

p{
    color: antiquewhite;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing:1.5px;
}
.testimonial{
    padding:80px 100px;
}
.about-1{
    margin:30px;
    padding:5px;
}
.feature{
    margin-bottom: 30px;
    margin-top:30px;
    background-color: #fff;
    padding:80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0,0.6);
   
}

h3{
    font-size: 25px;
    font-family:'Poppins';
   
}
.feature:hover{
  background-color:rgb(114, 27, 27);    
}

h5{
    font-style: italic;
}
.container{
    
    width:100%;
    height:auto;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:20px;
    display: flex;
}


