body {
    /* background-color: orange; */
    font-family: 'Fancy Font', cursive;
}

img {
    width: 30%;
    height: 30%;
}

.note-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.note-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.note-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.note-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.note-link {
    color: blue;
    text-decoration: none;
    margin-bottom: 10px;
}