.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(35, 4, 4);

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* note Styles */
.note-container {
  background: #fff;
  padding: 50px;
  width: 100%;
  margin: 40px auto;
  box-shadow: 0 5px 15px 0 rgba(46, 61, 73, 0.12);
  font-family: 'Work Sans', sans-serif;
}


.note_heading {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #636363;
}


.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form input {
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 2px;
  color: #636363;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline: none;
  width: 80%;
}


.form textarea {
  width: 80%;
  max-width: 80%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  border-radius: 2px;
  color: #636363;
  font-family: 'Work Sans,', sans-serif;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline: none;
}


/* All notes */


.all_note_heading {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  color: #636363;
  word-wrap: break-word;
}


.note {
  background: #02b3e4;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
}


.form button {
  background: #2402e4;
  padding: 15px 40px;
  text-align: center;
  color: #fff;
  font-family: 'Work Sans', sans-serif;
  border-radius: 4px;
  border: none;
  font-size: 20px;
}


.note_title {
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  color: #636363;
  word-wrap: break-word;
}


.note_message {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5rem;
  word-wrap: break-word
}


.control-buttons {
  display: flex;
  justify-content: space-between;
}


.delete {
  background: #ff7777;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
  outline: none;
  color: #fff;
}


.edit {
  background: #1102e4;
  border: none;
  text-align: center;
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}