#title {
   background-color: #A75D5D;
}

.container-fluid {
   padding: 3% 10%;
}

.title-image {
   width: 70%;
}

.navbar-brand {
   font-family: "Ubuntu";
   font-size: 40%;
   font-weight: bold;
   ;
}

.navbar {
   padding: 0 0 4.5rem;

}

.nav-item {
   padding: 0 18px;
   color: black;
}

.nav-link {
   font-size: 1.2rem;
   font-weight: "Montserrat-light";
}

/*Download Button*/
.D-button {
   margin: 5% 3% 5% 0;
}


.row {
   padding-top: 5%;
}

h1 {
   font-style: "Ubuntu";
}

#notes {
   max-width: 800px;
   margin: 0 auto;
   padding: 20px;
   background-color: #f2f2f2;
   border-radius: 10px;
}

#notes div {
   margin-top: 20px;
   padding: 10px;
   background-color: #ffffff;
   border-radius: 5px;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

form {
   text-align: center;
   margin-top: 50px;
}

textarea {
   border-color: #4CAF50;
   width: 80%;
   height: 100px;
   margin-bottom: 20px;
   padding: 10px;
   border-radius: 5px;
   border: none;
   box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
}

button {
   padding: 10px 20px;
   border-radius: 5px;
   background-color: #4CAF50;
   color: #ffffff;
   border: none;
   font-weight: bold;
   cursor: pointer;
}

button:hover {
   background-color: #3e8e41;
}